body {
    background: #f5f5f5;
    color: #333;

}

h3 {
    color: #333;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#main {
    background-color: white;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

label {
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 16px;
    color: #707070;
    text-align: right;
    width: 100px;
/*    border: 1px solid #ccc; */
    vertical-align: middle;
}

textarea {
    width: 85%;
    height: 34px;
    font-size: 13px;
    vertical-align: middle;
    margin: 3px 0px 3px 5px;
}

div {
    margin-bottom: 5px;
    text-align: center;
}

select {
    width: 170px;
}

textarea,input,select {
    border-radius: 3.01px;    
}

input,select,textarea {
    border: 1px solid #A9A9A9;
}

#choose_invinfo label {
    font-size: 14px;
}

#choose_invinfo {
    text-align: left;
    margin: 0 0 0 30px;
}

#undis {
    border: 0px;
    height: 0px;
}
#text_title {
    
}

#text_replay {    

}

#text_expectation{
    
}

#text_charts {
    
}

#text_invinfo  {    

}


#print_title {    
    text-align: center;
}

#print_describle {
    height: 200px;
}

#interactive,#especially {
    width: 80%;
}



#b_replay {
    height: 104px;
}

#bug_result_describle {
    height: 190px;
}

footer {
    height:auto;
    text-align: center;
    font-size: 12px;
}

a {
    margin:0 10px;
    text-decoration: none;
}
a:link {color:blue;}        /* 未被访问的链接 */
a:visited {color:#808040;}  /* 已被访问的链接 */
a:hover {color:green;}  /* 鼠标指针移动到链接上 */
a:active {color:#0000FF;}   /* 正在被点击的链接 */











